@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

:root{
    --subtittle: "Playwrite MX Guides";
    --header-font: "Lora";
    --font-general: "Poppins";
    --principal: #fff;
    --menu: #f6f6f6;
    --botones: #a88764;
    --letra: #3f3f3f;
    --violeta: #642bff;
}

/*Auto scrol*/

html{
    scroll-behavior: smooth;
    font-family: var(--font-general);
}

section[id]{
    scroll-margin-top: 70px;
}

body{
    background-color: var(--principal);
    color: var(--letra);
}

img{
    max-width: 100%;
}

/*Tamaño de contenedor general, cambiar individualmete si lo necesito*/

.container{
    max-width: 1100px;
    /*0 arriba y abajo - Izq y der automatico al centro*/
    margin: 0 auto;
}

/*Menu-Barra*/
.menu{
    /* position: fixed; */
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;
    background-color: var(--menu);
}

.menu .logo{
    padding: 0 70px;
    font-weight: 700;
    font-size: 30px;
    color: var(--letra);
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 15px;
    padding: 20px;
    color: var(--letra);
    display: block;
}

.menu .navbar ul li a:hover{
    color: violet;
}

/*Todo esto es para cuando se despliegue la version de celular*/
#menu{
    /*Para q no aparezca el INPUT*/
    display: none;
}

.menu-icon{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

header{
    background-image: url(img/Portada.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.top-header{
    width: 100%;
    height: 100%;
    color: var(--principal);
    display: flex;
    flex-direction: column;
    position: relative;
    left: -300px;
    justify-content: center;
}

.top-header .sub-tittle{
    font-family: var(--subtittle);
    font-size: 1.3rem;
}

.top-header  h1{
    font-family: var(--header-font);
    font-size: 3rem;
    padding-right: 550px;
    padding-bottom: 30px;
}

.top-header .text-header{
    font-size: 1rem;
    padding-right: 550px;
    padding-bottom: 30px;
}

.top-header .btn-header{
    background-color: var(--botones);
    display: inline-block;
    padding: 14px 25px;
}









/* DIV FOOTER */
/**DIV FOOTER - Info y redes sociales*/

.footer-info{
    padding: 50px;
    text-align: center;
    background-color: var(--menu);
}

.footer-info1{
    display: flex;
    text-align: left;
    gap: 250px;
    justify-content: center;
}

.footer-text p{
    font-size: 1.1rem;
}

/*Redes sociales*/

.footer-redes1{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.footer-redes1 a{
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: var(--letra);
    color: var(--menu);
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.footer-redes1 a:hover{
    transform: scale(1.2);
    background-color: var(--menu);
    color: var(--letra);
}

/**FOOTER**/
footer{
    text-align: center;
    background-color: var(--letra);
    display: flex;
    padding: 30px;
    justify-content: center;
    gap: 50px;
}

footer a{
    font-family: var(--menu);
    text-decoration: none;
    color: var(--principal);
}

footer i{
    margin: 0 auto;
}

footer p{
    color: var(--principal);
    font-size: 1rem;
}